

<svelte:head>
	<title>Sapper project template</title>
	<!-- <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script> -->
</svelte:head>

<h1>Great success!</h1>

<figure>
	<img alt="Success Kid" src="{successkid}">
	<figcaption>Have fun with Sapper!</figcaption>
</figure>

<p><strong>Try editing this file (src/routes/index.svelte) to test live reloading.</strong></p>
