<script>
    import fetch from "node-fetch"
    import showdown from "showdown"
    const fetchNodes = (async () => {
        const response = await fetch("http://127.0.0.1:5000/nodes.json");
        return await response.json();
    })();
    const converter = new showdown.Converter();
    import { replaceWiki } from "../util.js";

</script>

<main>
    {#await fetchNodes}
        .. Waiting
    {:then nodes}
        {#each nodes as node}
            <div>
               <a href="/node/{node}">{node}</a>
            </div>
        {/each}
    {/await}
</main>


