<script>
    let ranking
    if (process.browser){
       ranking = localStorage["ranking"] || " "
    }
    const processSettings = ()=> {
        if(process.browser){
            localStorage["ranking"] = ranking
            console.log(localStorage)
        }
    }
</script>
<main>
    <form >
        Enter comma separated list of users to rank
        <input type="text" id="settings-ranking" placeholder="e.g. flancian, vera" bind:value={ranking} on:change={processSettings}>
    </form>
</main>