<script context="module">
    // import { ranking } from "../../store.js";
    export async function preload(page, session) {
        // the `slug` parameter is available because this file
        // is called [slug].svelte
        const { slug } = page.params;
        console.log("slug", slug);

        // `this.fetch` is a wrapper around `fetch` that allows
        // you to make credentialled requests on both
        // server and client
        // const res = await this.fetch(`blog/${slug}.json`);
        // const article = await res.json();
        // fetchNode();
        console.log("loading node", slug);
        let ranking = " "
        if(process.browser){
            console.log("in browser")
            console.log("local storage", localStorage["ranking"])
            ranking = localStorage["ranking"]
        }
        const response = await this.fetch(
            `http://127.0.0.1:5000/node/${slug}/uprank/${ranking}.json`
        );
        let result = await response.json();
        console.log("result", result)
        return { slug, result };
    }
</script>


<script>
    
    import showdown from "showdown";
    const converter = new showdown.Converter();
    import { replaceWiki } from "../../util.js";
    export let slug, result;
</script>

<main>
    <div>
        Node: <span class="node-title">{result.node.uri}</span>
        {#each result.node.subnodes as subnode}
            <div class="subnode">
                Subnode user: <a class="node-title" href="/node/{subnode.user}"
                    >{subnode.user}</a
                >
                {#if typeof subnode.content === "string"}
                    {@html converter.makeHtml(replaceWiki(subnode.content))}
                {/if}
            </div>
        {/each}
    </div>
    <div>
        {#if result.pull_nodes.length > 0}
            <h3>Pulled Nodes</h3>
        {/if}
        {#each result.pull_nodes as pull_node}
            <div>
                Node: <span class="node-title">{pull_node.uri}</span>
                {#each pull_node.subnodes as subnode}
                    <div class="subnode">
                        Subnode user: <a
                            class="node-title"
                            href="/node/{subnode.user}">{subnode.user}</a
                        >
                        {#if typeof subnode.content === "string"}
                            {@html converter.makeHtml(
                                replaceWiki(subnode.content)
                            )}
                        {/if}
                    </div>
                {/each}
            </div>
        {/each}
    </div>
    <div>
        {#if result.back_links.length > 0}
            <h3>Backlinks</h3>
        {/if}
        {#each result.back_links as back_link}
            <span class="backlinks"
                ><a href="/node/{back_link}">{back_link}</a></span
            >
        {/each}
    </div>
</main>

<style>
    div {
        padding-bottom: 5px;
        padding-top: 5px;
        margin-bottom: 10px;
    }
    .node-title {
        font-weight: bold;
    }
    .subnode:nth-child(even) {
        background: #e8e8e4;
    }
    .subnode:nth-child(odd) {
        background: #d8e2dc;
    }
    .backlinks {
        /* margin-left: 5px; */
        margin-right: 10px;
    }
</style>
